mail_location = maildir:~/

mail_gid = {{ _dovecot_config.vmail.group }}
mail_uid = {{ _dovecot_config.vmail.user }}

mail_plugins = $mail_plugins quota

namespace inbox {
  type = private
  inbox = yes
}
