plugin {

        # http://johannes.sipsolutions.net/files/antispam.html

        # antispam_debug_target = syslog
        # antispam_verbose_debug = 1

        antispam_trash = Trash,"Deleted Messages"
        antispam_spam = Junk;Spam;SPAM

        antispam_backend = pipe

        antispam_pipe_program = {{dovecot_etc_dir}}/dovecot-antispam-sa-learn.sh
        antispam_pipe_program_args =
        # antispam_pipe_program_args = --for;%u
        antispam_pipe_program_spam_arg = --spam
        antispam_pipe_program_notspam_arg = --ham
        antispam_pipe_tmpdir = /tmp

        # Do not allow spam to be moved into the `antispam_spam` directory from tools like offlineimap
        antispam_allow_append_to_spam = no

}
