From: postmaster@{{ _dovecot_config.hostname }}
To: ${user}
Subject: Quota Exceeded

Your mailbox is now ${percent}% full.
You will no longer be able to receive mail if you exceed your quota.
You may want to

	* empty your Trash folder
	* empty your Junk folder
	* reply to this mail to request more space.

Thanks,

Your Postmaster
