protocols = imap lmtp {{ 'sieve' if _dovecot_config.managesieve_enabled else '' }}

# Most of the actual configuration gets included below. The filenames are
# first sorted by their ASCII value and parsed in that order. The 00-prefixes
# in filenames are intended to make it easier to understand the ordering.
!include {{ _dovecot_config.managed_config_dir }}/*.conf

